<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Default Package Sources -->
  <!-- They cannot be deleted or modified but can be disabled/enabled by user -->
  <!-- The following section is similar to 'packageSources' section of NuGet.config schema -->
  <packageSources>
    <add key="default" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="AI SDK Labs" value="https://www.myget.org/F/applicationinsights-sdk-labs/" />
  </packageSources>
</configuration>