<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.dotnetru.ios</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UILaunchStoryboardName~ipad</key>
	<string>LaunchScreen~ipad</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is needed to display your current location on maps.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Tweet</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xpirit.techdays.tweet</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quickaction_tweet</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>#TechDaysNL</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Announcements</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xpirit.techdays.announcements</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quickaction_announcements</string>
		</dict>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>6.0</string>
			<key>UILaunchImageName</key>
			<string>Default</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default-568h@2x.png</string>
	</array>
	<key>CFBundleName</key>
	<string>TechDays 16</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>techdays</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.xpirit.techdays</string>
			<key>CFBundleURLTypes</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon-58</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>This app allows you to add/remove conference sessions in your calendar.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.xpirit.techdays.session</string>
		<string>com.xpirit.techdays.sponsor</string>
		<string>com.xpirit.techdays.speaker</string>
		<string>com.xpirit.techdays.sessions</string>
		<string>com.xpirit.techdays.speakers</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>DotNetRu App</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
